{% extends "layouts/main.html" %}
{% load i18n %}
{% block content %}
<h2 class="text-danger">{{ division.name }}</h2>
<a class="btn btn-light" href="{% url 'auser:club_detail' division.club.slug %}">{{ division.club.name }}</a> >> 
{% if division.parent %}
<a class="btn btn-light" href="{% url 'auser:division_detail' division.parent.slug %}">{{ division.parent.name }} >></a>
{% endif %}
<a class="btn btn-light" href="{% url 'auser:add_sub_division' division.slug %}">Add Sub Division</a>
<ul class="nav nav-tabs mt-5 mb-3" id="UserDetail" role="tablist">
</ul>
<div class="tab-content" id="UserDetailContent">
<div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
    {% include "auser/division/list.html" with divisions=division.sub_divisions.iterator %}
</div>

</div>
{% endblock content %}
{% block js %}<script>$('#dt_table_active_clubs').DataTable({}) </script>{% endblock %}


