{% load i18n %}
            <table class="table shadow-lg w-100" id="dt_table_active_clubs">
              <thead>
                <tr>
                  <th></th>
                  <th>{% translate "Name" %}</th>
                  <th>{% translate "Short name" %}</th>
                  <th>{% translate "Active" %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="w-100">{% if divisions %}
                {% for division in divisions %}<tr>
                  <td class="details-control px-3">{{ forloop.counter }}</td>
                  <td>{{ division.name }}</td>
                  <td>{{ divisions.short_name }}</td>
                  <td>
                    <div class="btn-group rounded" role="group" aria-label="Management buttons">
                      <a href="{% url 'auser:division_detail' division.slug %}" class="btn btn-md btn-outline-dark shadow-none">{% translate "Details" %}</a>
                      {% if perms.auser.change_division %}<a href="{% url 'auser:edit_division' division.slug %}" class="btn btn-md btn-outline-secondary shadow-none">{% translate "Update" %}</a>{% endif %}
                    </div>
                    </td>
                </tr>{% endfor %}
              {% endif %}</tbody>
          </table>