{% load static i18n %}
        <nav id="sidebar" class="col-auto collapse collapse-horizontal show pt-1 px-0 mx-0 sticky-md-top">
          <div class="row sidebar-nav mx-0">
            <div class="d-flex justify-content-center">
              <a class="mx-auto mt-4 mb-5" href=""><img src="{% static 'img/logo.svg' %}" alt="The Knight" class="img-fluid rounded-circle logo-img" /></a>
            </div>
            <ul class="px-0">
              <li class="nav-item my-1 mx-0 row flex-nowrap align-items-center text-light">
                <div class="col py-2 px-3 text-center">
                  <i data-feather="home"></i>
                </div>
                <div class="col-10">
                  <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'auser:list_active_clubs' %}">{% translate "Clubs " %}</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="row sidebar-nav mx-0">{% if perms.blog.add_post %}
            <div class="text-dark px-4 fs-4">{% translate "Contents" %}</div>{% endif %}
            <ul class="px-0">
              <li class="nav-item my-1 mx-0 row flex-nowrap align-items-center text-light">
                <div class="col py-2 px-3 text-center">
                  <i data-feather="user"></i>
                </div>
                <div class="col-10">
                  <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'blog:list_post_admin' %}">{% translate "Blogs" %}</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>